// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";


body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	width:1024px;
	background: #ffffff url('../images/background.png') repeat;
	margin: 0 auto;
}

.l-main {
  @include clearfix;
}


.l-region--navigation { 

	background: #ffffff url('../images/nav-background.png') repeat;
  margin: 20px 0 20px 0;
  height:40px;
  border-bottom: 1px solid #d7d7d7;
  
  .menu {
    padding-top:10px;
  }
  
	.menu .leaf {
    a {text-decoration: none;}
    list-style:none;
    display:inline;
    margin-right: 70px;
  }

  .menu .icon_0 {
    background: url("../images/icons/icon_small_apple.png") no-repeat left top;
    padding: 8px 3px 8px 30px;
  }
  
  .menu .icon_1 {
    background: url("../images/icons/icon_small_banana.png") no-repeat left top;
    padding: 8px 3px 8px 30px;
  }
  
  .menu .icon_2 {
    background: url("../images/icons/icon_small_orange.png") no-repeat left top;
    padding: 3px 4px 8px 30px;
  }
  
  .menu .icon_3 {
    background: url("../images/icons/icon_small_cherry.png") no-repeat left top;
    padding: 5px 4px 8px 35px;
  }

}

#bottom-line {
	margin-top:50px;
	
	hr { background-color: #c17c6e; height:1px; border:0;}
	#icon-bow {
	   background: url('../images/icons/bow-icons_03.png') no-repeat 50% 50%;
	   margin: 0 auto;
	   display: block;
	   width:50px;
	   height:50px;
	   margin-top: -35px;
	   padding:0 50px;
	   
	}
}

.l-region--footer {
	@include clearfix;
  background: #ffffff url('../images/footer-background.png') repeat;
  border-top: 1px solid #d7d7d7;
}

#follow-us  {
  
  margin-left: 75%;
  
  h3 {
   color:white;
    padding-left:20px;
  }
  
}

#follow-us-icons  {
  
  ul li{
   list-style:none; 
   display:inline;
   padding-right:8px;
  }
  
}

#designed-by {
 
 margin-left:20px;
 margin-bottom:20px;
 font-size:small;
 color:white;
}

#ajax-login {
  float:right;
  font-size:small;
  margin-right:10px;
  
  a{ 
      color:#8e0303;
      text-decoration:none;
  }
  
  a:visited {
    color:#8e0303;
  }
  
  a:hover { 
     color:#ef7373;
  }
  
}
