@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

@import "../../variables/**/*";

.l-content {
	@include grid-span(6,1);
	
	#block-views-slide-show-block {
  background: #ffffff;
  padding:25px 20px;
  box-shadow: 1px 1px 4px black;
  
  }
}

.l-region--sidebar-first {
  @include grid-span(6, 7);
  
  .block__title {
    color:#c17c6e;
  } 
  
  .intro-text {
    color:#f0a991;
    margin-left:10px;
    margin-right:10px;
  }
  
}




