@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/drupal\/sites\/all\/themes\/cake\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\000038}}
.l-content {
  width: 49.15254%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/drupal\/sites\/all\/themes\/cake\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000311}}
  .l-content #block-views-slide-show-block {
    background: #ffffff;
    padding: 25px 20px;
    box-shadow: 1px 1px 4px black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/drupal\/sites\/all\/themes\/cake\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000319}}
.l-region--sidebar-first {
  width: 49.15254%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/drupal\/sites\/all\/themes\/cake\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000322}}
  .l-region--sidebar-first .block__title {
    color: #c17c6e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/drupal\/sites\/all\/themes\/cake\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000326}}
  .l-region--sidebar-first .intro-text {
    color: #f0a991;
    margin-left: 10px;
    margin-right: 10px; }
